.dash-wrapper{
  width: 100%;
  padding: 40px;
}

.dash-title{
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
}

.dash-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: auto;
}

/* Dashboard Cards */
.dash-card{
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.12);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s;
}

/* Hover Effect */
.dash-card:hover{
  transform: scale(1.05);
  background: #e9f0ff;
}
